// Default page colors
$body-bg-color: #40364a;
$body-text-color: #40364a;
$content-bg-color: #ffffe5;

// Base Colors
$base-color-1: #826c96;
$base-color-2: #615170;
$base-color-3: #a387bc;
$base-color-4: #ffffe5;

// Accent Colors
$accent-color-1: #826c96;
$accent-color-2: #cdcd8f;
$accent-color-3: #b3a4da;
$accent-color-4: #000;
$accent-color-5: #ffffe5;
$accent-color-6: #b3a4da;
