// Default page colors
$body-bg-color: 	#135354;
$body-text-color: 	#135354;
$content-bg-color: #ffffe5;

// Base Colors
$base-color-1: #4da2a3;
$base-color-2: #ffffe5;
$base-color-3: #22585f;
$base-color-4: #bfbfac;

// Accent Colors
$accent-color-1: #cece99;
$accent-color-2: #cece99;
$accent-color-3: #135354;
$accent-color-4: #000;
$accent-color-5: #cece99; 
$accent-color-6: #ffffe5;
