---
import MainLayout from '../layouts/MainLayout.astro';
import LetterIcon from '../assets/mail.svg';
import banner2 from "../assets/banners/banner2.png";
import Banner from '../components/blocks/Banner.astro';
---

<MainLayout title='Contact' showSidebar='true'>
	<!-- Email -->
	<!-- <Banner src={banner2} height="400px" position="center" /> -->
	<section>
		<div class='container'>
			<img src={LetterIcon} />
			<a href='mailto:contact@felismajor.com'>contact@felismajor.com</a>
		</div>
		<br>

		<section class="vertical">
			<p class="compact">
				Please note that we do not offer internships or jobs. As a small two-person studio, we don't have the resources to supervise interns, and we have no plans to hire. For any other inquiries, you can contact us at the email address above.<p>
	</section>
</MainLayout>

<style lang='scss'>
	@import '../styles/mixins.scss';

	section {
		// height: 100%;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		img {
			width: 3rem;
		}
	}

	a {
		@include for-tablet-up {
			font-size: 2rem;
		}

		font-size: 1.2rem;
	}
</style>
