---
import FakeAd from './FakeAd.astro';
---

<FakeAd>
	<h3>Newsletter</h3>
	<p>(one day..!)</p>
	<!-- <div class='form'>
		<input type='text' placeholder='email' />
		<button>Register</button>
	</div> -->
	<!-- <p style='text-align: left;'>
		We'll only contact you for major updates, we do not spam.
	</p> -->
</FakeAd>

<style lang='scss'>
	@import '../styles/vars/sizing.scss';

	.form {
		display: flex;
		gap: 0.5rem;
	}

	.form > * {
		flex: 1;
		border-radius: $round-md;
		padding: 0.5rem;
		border: none;
		margin-bottom: 0.5rem;
	}
</style>
